<link rel="stylesheet" href="css/global.css">
<link rel="stylesheet" href="css/_nav.css">
<nav>
    <div id="container" class="container-geek">
    </div>
</nav>

<script>

    const container = document.getElementById('container');

    let geeks = <%- JSON.stringify(geeks) %>;

    for (var i = geeks.length-1; i > -1; i--) {
        container.innerHTML += `
            <div class="geek-item">
                <div class="geek-head">
                    <div class="geek-title">
                        <h3>${geeks[i].title}</h3>
                    </div>
                    <div class="geek-channel-title title-kotlin">${geeks[i].channel}    
                    </div>
                </div>

                <div class="geek-description">
                    <p>${geeks[i].description}</p>
                </div>

                <div class="geek-bottom-bar">
                    <button class="button geek-comments">yorumlar</button>
                    <button class="button geek-love">bir yıldız ver</button>
                    <button class="button geek-report">şikayet</button>
                </div>
            </div>
        `;
    }

</script>