.container-geek {
    display: flex;
    flex-direction: column;
}

.geek-item {
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid white;
}

.geek-item:hover {
    cursor: pointer;
}

.geek-head {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.geek-title {
    width: 90%;
}

.geek-channel-title {
    width: 10%;
    text-align: end;
    color: #ff4500;
    font-size: small;
}

.geek-description {
    margin-top: 1rem;
}

.geek-bottom-bar {
    margin-top: 1rem;
}

.button {
    font-size: small;
    border: 1px solid white;
    padding: 0.5rem;
    margin-right: 1rem;
}

.button:hover {
    cursor: pointer;
    background-color: #ff4500;
}

.geek-love-active {
    background-color: #ff4500;
}

.geek-love-active:hover {
    background-color: #2D2D2D;
}

.geek-report {
    float: right;
}