html, body {
    height: 90%;
}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 30%;
    padding: 40px;
    border: 1px solid white;
    text-align: center;
    color: white;
}

.form-input {
    border: 1px solid white;
    padding: 15px;
    width: 100%;
    color: white;
    outline: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-button {
    background-color: #2D2D2D;
    border: none;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
}

.form-button-register {
    margin-top: 1rem;
}

.form-button:hover {
    background-color: #212121;
    cursor: pointer;
}

.form-item-text {
    font-size: small;
    color: white;
    margin-top: 1rem;
}

.form-item-text a {
    text-decoration: none;
    color: white;
}